@import 'normalize';
$dark: #424652;
$light: #9a9da4;
$hightlight: #8bc6db;
$border: #E9E9E9;

body {
	font-family: 'Raleway', sans-serif;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix{
	clear: both
}

#main_navigation {
	padding: 2.5em 5%;
	border-bottom: 1px solid $border;
.name {
	font-weight: 100 ;
	font-size: 1em ;
	text-transform: uppercase ;
	border: 2px solid $border ; 	
	padding: 1em ; 
	text-decoration: none ;
	color: $dark;
	float:left;
}
nav {
	float: right;
	padding-top: 1.5rem;
	a{
		color :$dark;
		text-decoration: none;
		margin: 0 1rem;
		font-size: 1;
	}
}
}